In [13]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('pokemon.csv')

In [5]:
df.head(2)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0

In [7]:
df.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [8]:
select_columns = ['hp', 'attack', 'defense', 'sp_attack', 'sp_defense']

In [12]:
df_input = df[select_columns]

In [16]:
std_scale = StandardScaler()
df_scale = pd.DataFrame(std_scale.fit_transform(df_input), columns=df_input.columns)

In [17]:
mod_kmeans = KMeans(n_clusters=8)
_ = mod_kmeans.fit(df_scale)

In [20]:
df['labels'] = mod_kmeans.labels_

In [32]:
user_input = 'Bulbasaur'

In [33]:
target_label = df.query("name==@user_input")['labels'].item()

In [46]:
df_result =  df.query('labels == @target_label & name !=@user_input')[['name', 'type1']].reset_index(drop=True)
df_result

           name   type1
0       Ivysaur   grass
1    Charmeleon    fire
2     Wartortle   water
3    Butterfree     bug
4      Raticate  normal
..          ...     ...
166    Morelull   grass
167    Salazzle  poison
168     Stufful  normal
169   Sandygast   ghost
170    Hakamo-o  dragon

[171 rows x 2 columns]

In [50]:
def get_url(name): 
    return f'https://pokemondb.net/pokedex/{name}'

In [51]:
df_result['link'] = df_result['name'].apply(get_url)

In [54]:
print(df_result.head(5).to_markdown())

|    | name       | type1   | link                                     |
|---:|:-----------|:--------|:-----------------------------------------|
|  0 | Ivysaur    | grass   | https://pokemondb.net/pokedex/Ivysaur    |
|  1 | Charmeleon | fire    | https://pokemondb.net/pokedex/Charmeleon |
|  2 | Wartortle  | water   | https://pokemondb.net/pokedex/Wartortle  |
|  3 | Butterfree | bug     | https://pokemondb.net/pokedex/Butterfree |
|  4 | Raticate   | normal  | https://pokemondb.net/pokedex/Raticate   |